node_modules
.next
.terraform
!favicon.png
!icon.png
*.auto.tfvars
.turbo
.vercel
*.pem
.env
.env.*
!.env.test
volume
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
volumes
*/.terraform.local.hcl
*/*_override.tf
terraform.tfstate
terraform.tfstate.backup
.yarn/install-state.gz
.qodo
